@media only screen and (max-width: 1024px)  and (min-width: 599px){
    body {
        background-color: teal;
    }
    #lines-counter {
        background-color: #ee6e73;
    }
    #container {
        width: 50%;
    }
    #content {
        width: 40%;
    }
    .newNav {
        width: auto;
    }
}